@use "sass:math";

@mixin plus($width, $lineWidth, $color) {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: $width;
  height: $width;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom: math.div( $width, 2 ) - math.div( $lineWidth, 2 );
    transform: rotate(90deg);
    transition: width 0.3s;
  }
  &::after {
    content: '';
    display: block;
    width: $width;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom: math.div( $width, 2 ) - math.div( $lineWidth, 2 );
  }
}
